body{background-color:#9500ff;}
header{background-color:rgb(43, 232, 43);}
main{background-color:blue;}
section{background-color:orange;}
aside{background-color:yellow;}
article{background-color:purple;}